*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #42b883;
}
.calendar-container{
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}
.month-name{
    margin-bottom: 10px;
    background-color: #ff7e67;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    font-size: 20px;
    color: darkgray;
    margin-top: 5px;
}
.day-nmber{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
.year{
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}

@media screen and (max-width:700px) {
    .calendar-container{
        margin: 25px;
    }
}